%h1 Edit Wiki
.row
  .col-md-4
    %p Guidelines for wikis
    %ul
      %li Make sure the it rhymes.
      %li Don't use the letter "A".
      %li The incessant use of hashtags will get you banned.
  .col-md-8
    = form_for @wiki do |f|
      - if @wiki.errors.any?
        .alert.alert-danger
          %h4 There are #{pluralize(@wiki.errors.count, "error")}.
          %ul
            - @wiki.errors.full_messages.each do |msg|
              %li= msg
      = form_group_tag(@wiki.errors[:title]) do
        = f.label :title
        = f.text_field :title, class: 'form-control', placeholder: "Enter wiki title"
      = form_group_tag(@wiki.errors[:tag_list]) do
        = f.label :tag_list, "Tags (separated by commas)"
        = f.text_field :tag_list, class: 'form-control', placeholder: "Enter tags"
      = form_group_tag(@wiki.errors[:body]) do
        = f.label "Body - if the text area doesn't show up, refresh the page"
        #epiceditor.field
        = f.text_area :body, rows: 8, class: 'form-control hide', id: 'epictextarea', placeholder: "Enter wiki body"
      .form-group
        = f.submit "Save", class: 'btn btn-default'
        = link_to "Back", @wiki, class: 'btn btn-link'
    %br
- if @wiki.private?
  - if current_user.role == 'admin' || (current_user.role == 'premium' && current_user.id == @wiki.user_id)
    %h3 Add Collaborator
    = form_for [@wiki, @collaborator] do |f|
      .form-group
        = f.label :collaborator_email
        %span{style: 'display: none;'}
          = text_field_tag :wiki_id, (@wiki.id)
        = text_field_tag "email", nil, class: 'form-control', :placeholder => "Enter the email of the user you want to add as collaborator"
        %br
        = submit_tag "Add", class: 'btn btn-default'
      .form-group
        %h5 All Users
        %table{class: 'table table-hover'}
          - @users.each do |f|
            %tr
              %td= f.name
              %td= f.email
              %td= "Add Glyphicon"
        %h5 Current Collaborators
        - if @collaborators.count > 0
          %table{class: 'table table-hover'}
            - @collaborators.each do |f|
              %tr
                %td= "User id: #{f.user_id}"
                %td= "Collaborator name"
                %td= "Collaborator email"
                %td= "Delete Glyphicon"
        - else
          %p You don't have any collaborators yet! :(

= render 'wikis/versions', wiki: @wiki