.row
  .col-md-10
    %h1 Wikis
  .col-md-2
    .wiki-buttons
      - if policy(Wiki.new).create?
        = link_to "New wiki", new_wiki_path, class: 'btn btn-default'
%br
#tag_cloud
  - tag_cloud Wiki.tag_counts, %w[s m l] do |tag, css_class|
    = link_to tag.name, tag_path(tag.name), class: css_class   
%br
%table{class: "table table-hover"}
  - @wikis.each do |f|
    %tr
      %td= link_to f.title, f
      %td= tagging_list(f)
      %td= "#{f.user.name}"
      %td history
%br