%h1 New Wiki
.row
  .col-md-4
    %p Guidelines for wikis
    %ul
      %li Make sure the it rhymes.
      %li Don't use the letter "A".
      %li The incessant use of hashtags will get you banned.
  .col-md-8
    = form_for @wiki do |f|
      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control', placeholder: "Enter wiki title"
        %br
        = f.label "Body - if the text area doesn't show up, refresh the page"
        #epiceditor.field
        = f.text_area :body, rows: 8, class: 'form-control hide', id: "epictextarea", placeholder: "Enter wiki body"
        - if current_user.role == 'admin' || current_user.role == 'premium'
          %br
          = f.label :private
          = f.check_box :private
      .form-group
        = f.submit "Save", class: 'btn btn-default'
        = link_to "Back", wikis_path, class: 'btn btn-link'