<!DOCTYPE html>
<html>
<head>
  <title>wikitec</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.2/js/conekta.js"></script>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">
      <% if current_user %>
        <li><%= link_to "Wikis", wikis_path %></li>
      <% else %>
        <li><%= link_to "wikitec", root_path %></li>
      <% end %>
      <% if current_user %>
        <% if (current_user.role == 'premium') || (current_user.role == 'admin') %>
          <li><%= link_to "Wikis privadas", privates_wikis_path %>
        <% end %>
      <% end %>
      <% if current_user == nil %>
        <li><%= link_to "Acerca de", about_path %></li>
      <% else %>
        <li></li>
      <% end %>
      <div class="pull-right user-info">
        <% if current_user %>
          Hola <% if current_user.name? %><%= current_user.name %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %><% else %><%= current_user.email %>! <%= link_to "Sign out", destroy_user_session_path, method: :delete %><% end %>
        <% else %>
          <%= link_to "Sign In", new_user_session_path %> or
          <%= link_to "Sign Up", new_user_registration_path %>
        <% end %>
      </div>
    </ul>
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>
  <%= yield %>
  </div>
</body>
</html>
